tr {
    text-align: center;
}

td {
    text-align: center;
}

/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
} */

th {
    height: 60px;
    border : 1px solid black;
    background: black;
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

td {
    border: 1px solid black;
}

#table {
    margin: auto;
    width: 50%;
    /* border: 1px solid black; */
    border-collapse: collapse;
    padding: 10px;
}