tr {
    text-align: center;
}

td {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#table {
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
}